    body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}

.calculation{
  color: white;
  font-size: 45px;
  margin-top: 25px;
  margin-bottom: 35px;
  background-color: rgba(61, 3, 3, 0.867);
  border: 2px solid blue;
  height: 10rem;
}

.calculator-button{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
}

.gray-button{
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button{
  background-color: rgb(254, 160, 10);
  color: white;
}

.clear-button{
  font-size: 17px;
}